<h1>Events</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add New Event</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Title</th>
            <th style="width: 20%">Description</th>
            <th style="width: 10%">Duration</th>
            <th style="width: 10%">SlaveFirst</th>
            <th style="width: 10%">SlaveSecond</th>
            <th style="width: 10%">SlaveThird</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of events">
            <td>{{event.title}}</td>
            <td>{{event.description}}</td>
            <td>{{event.duration}}</td>
            <td>{{event.slaveFirst}}</td>
            <td>{{event.slaveSecond}}</td>
            <td>{{event.slaveThird}}</td>
            <!-- <td style="white-space: nowrap">
                <a routerLink="edit/{{event.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteEvent(event.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="event.isDeleting">
                    <span *ngIf="event.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!event.isDeleting">Delete</span>
                </button>
            </td> -->
        </tr>
        <tr *ngIf="!events">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>